:root {
  --font-size: 16px;
  --background: #ffffff;
  --primary: #030213;
  --secondary: oklch(0.95 0.0058 264.53);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", sans-serif;
}

button {
  outline: none;
  all: unset;
}

header {
  background-color: var(--background);
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  gap: 2rem;
}

.nav__button {
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  border-color: none;
  color: #fff;
  background-color: dodgerblue;
}
